{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_javascript %}
    {% bootstrap_css %}
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">СПО в сети</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'news-feed' %}"><i class="fas fa-house"></i> Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'chat-list' %}"><i class="fas fa-comments"></i> Список чатов</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'edit' %}"><i class="fas fa-user"></i> Профиль</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}"><i class="fas fa-user"></i> Выйти</a>
                </li>
            </ul>
            {% if user.is_authenticated %}
                <span class="navbar-text ms-auto">
                Здравствуйте, {{ user.username }}
            </span>
            {% endif %}
        </div>
    </div>
</nav>
<div class="container mt-5">
    {% block content %}{% endblock %}
</div>
    
</body>
</html>