{% extends 'registration/layout.html' %}
{% load bootstrap5 %}
{% block title %}Сброс пароля{% endblock %}

{% block content %}
    <div class="container">
        <h1>Сброс пароля</h1>
        {% if validlink %}
            <p>Пожалуйста, введите ваш новый пароль дважды:</p>
            <form action="." method="post">
                {{ form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Изменить пароль" class="btn btn-primary"/></p>
            </form>
        {% else %}
            <p>Ссылка для сброса пароля недействительна, возможно, она уже была использована. Пожалуйста, запросите новый сброс пароля.</p>
        {% endif %}
    </div>
{% endblock %}