{% extends 'registration/layout.html' %}
{% load bootstrap5 %}
{% block title %}Список чатов{% endblock %}

{% block content %}
    <div class="container mt-4">
        <h1 class="mb-4">Список чатов</h1>
        <div class="list-group">
            {% for chat in chats %}
                <a href="{% url 'chat-detail' chat.id %}" class="list-group-item list-group-item-action">
                    Диалог {{ chat.id }}
                </a>
            {% endfor %}
        </div>
        <a href="{% url 'create-dialog' %}" class="btn btn-success mt-4">Начать новый диалог</a>
    </div>
{% endblock %}
