{% extends 'registration/layout.html' %}

{% block title %}Список чатов{% endblock %}

{% block content %}
<h1>Список чатов</h1>
    <li>
        
    </li>
<div class="container">
    
        {% for chat in chats %}
        <div class="card mb-3">
            <a href="{% url 'chat-detail' chat.id %}" class="" style="text-decoration: none; color: black;">
                Диалог {{ chat.id }}
            </a>
        </div>
        {% endfor %}
    
    <a href="{% url 'create-dialog' %}" style="text-decoration: none; color: black;">
        Начать новый диалог
    </a>
</div>
{% endblock %}