{% extends 'registration/layout.html' %}
{% load bootstrap5 %}
{% block title %}Новости{% endblock %}

{% block content %}
    <div class="container">
        <h2 class="my-4">{{ news.title }}</h2>
        <p>{{ news.content }}</p>

        <h3 class="mt-5">Комментарии:</h3>
        <ul class="list-group mb-4">
            {% for comment in comments %}
                <li class="list-group-item">
                    <strong>{{ comment.author.username }}</strong>: {{ comment.text }}
                </li>
            {% endfor %}
        </ul>

        <h3>Добавить комментарий:</h3>
        <form method="post" class="mb-5">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary mt-2">Отправить комментарий</button>
        </form>
    </div>
{% endblock %}
